@font-face {
  font-family: 'Bellota Text';
  src: url('../../fonts/Bellota_Text/BellotaText-Light.ttf') format('truetype');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}
@font-face {
  font-family: 'Bellota Text';
  src: url('../../fonts/Bellota_Text/BellotaText-LightItalic.ttf') format('truetype');
	font-display: swap;
	font-weight: 300;
	font-style: italic;
}

@font-face {
  font-family: 'Bellota Text';
  src: url('../../fonts/Bellota_Text/BellotaText-Regular.ttf') format('truetype');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
  font-family: 'Bellota Text';
  src: url('../../fonts/Bellota_Text/BellotaText-Italic.ttf') format('truetype');
	font-display: swap;
	font-weight: 400;
	font-style: italic;
}

@font-face {
  font-family: 'Bellota Text';
  src: url('../../fonts/Bellota_Text/BellotaText-Bold.ttf') format('truetype');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
  font-family: 'Bellota Text';
  src: url('../../fonts/Bellota_Text/BellotaText-BoldItalic.ttf') format('truetype');
	font-display: swap;
	font-weight: 700;
	font-style: italic;
}