// ----- Resets -----

ul
	margin: 0
	padding: 0
	li
		display: inline-block

// ----- Breakpoints -----

$block-width-wrapper: 1200px

$xxl: 1440px
$xl: 1200px
$lg: 1024px
$md: 768px
$sm: 480px

// Interesting variants for #5E3281 (https://mycolor.space/?hex=%235E3281&sub=1)
// #00c9b0 #005b5f #8b0073 #307ea6  #e15871

// ----- CSS variables -----

:root
	// Colors
	--tsp: #00000000
	--color-bg-primary: hsl(0, 0%, 18%)
	--color-bg-primary-o: hsla(0, 0%, 18%, .4)
	--color-bg-primary-inverted: hsl(0, 0%, 82%)
	--color-bg-primary-inverted-50: hsl(0, 0%, 42%)
	--color-bg-primary-d: hsl(0, 0%, 13%)
	--color-bg-primary-do: hsla(0, 0%, 13%, .6)
	--color-accent-primary: hsl(273, 44%, 35%)
	--color-text-primary: hsl(0, 0%, 82%)
	--color-text-secondary: hsl(0, 0%, 20%)
	--color-text-link: hsl(220, 65%, 60%)
	--color-text-link-hover: hsl(220, 65%, 70%)
	// Fonts
	--font-size-primary: 18px
	--font-family-general: 'Bellota Text', sans-serif
	--font-family-semiaccent: 'Rubik', sans-serif
	--font-family-accent: 'Montserrat', sans-serif
	// Sizes
	--block-width-wrapper: #{$block-width-wrapper}
	--links-padding: .8rem
	--radius: 1.5rem

@media (max-width: $block-width-wrapper)
	:root
		--block-width-wrapper: 90%

// ----- Tags -----

html
	font-size: var(--font-size-primary)
	font-family: var(--font-family-general)
	color: var(--color-text-primary)
	line-height: 1.4
body
	background-color: var(--color-bg-primary)
	min-height: 100vh
	display: flex
	flex-direction: column
	justify-content: space-between
h1, h2, h3
	font-family: var(--font-family-accent)
	margin: 0
	font-weight: inherit
	font-size: inherit
h4, h5
	font-family: var(--font-family-semiaccent)
	margin: 0
	font-weight: inherit
	font-size: inherit
h6
	font-family: var(--font-family-general)
	margin: 0
	font-weight: inherit
	font-size: inherit
p
	margin: 0
svg
	fill: inherit
	stroke: inherit
	transition: all .3s ease
	*
		fill: inherit
		stroke: inherit
a
	text-decoration: none
	color: inherit
	transition: color .2s ease-out
	&.link:hover
		color: var(--color-text-link-hover)
		fill: var(--color-accent-primary)
		stroke: var(--color-accent-primary)
img
	display: block
	margin: 0 auto

// ----- Classes -----

.wrapper
	max-width: var(--block-width-wrapper)
	margin: 0 auto