:root {

	/* Colors */

	/* Namespaces:

		General
		--c-bg-1 background
		--c-tx-1 text

		Specialized
		--c-ac-1 accent
		--c-li-1 link
		--c-sh-1 shadow

		Flags:
		-d10 darken 10%
		-l10 lighten 10%
		-o10 opacity 10%
	*/

	/* TODO: refacotor colors and color names */
	/* TODO: more clear accent onhover color */


	/* Fonts */

	--font-size-primary: 18px;
	--font-family-general: 'Bellota Text', sans-serif;
	--font-family-semiaccent: 'Rubik', sans-serif;
	--font-family-accent: 'Montserrat', sans-serif;

	/* Sizes */

	--block-width-wrapper: 1200px;
	--block-width-content: 900px;
	--radius: 1.5rem;
}

@media (max-width: 1200px) {
	:root {
		--block-width-wrapper: 90%;
	}
}
