:root {

	/* Colors */

	/* TODO: refacotor colors and color names */

	--tsp: #00000000;
	--color-bg-primary: hsl(0, 0%, 18%);
	--color-bg-primary-o: hsla(0, 0%, 18%, .4);
	--color-bg-primary-inverted: hsl(0, 0%, 82%);
	--color-bg-primary-inverted-50: hsl(0, 0%, 42%);
	--color-bg-primary-d: hsl(0, 0%, 13%);
	--color-bg-primary-do: hsla(0, 0%, 13%, .6);
	--color-accent-primary: hsl(273, 44%, 35%);
	--color-text-primary: hsl(0, 0%, 82%);
	--color-text-secondary: hsl(0, 0%, 20%);
	--color-text-link: hsl(220, 65%, 60%);
	--color-text-link-hover: hsl(220, 65%, 70%);

	/* Fonts */

	--font-size-primary: 18px;
	--font-family-general: 'Bellota Text', sans-serif;
	--font-family-semiaccent: 'Rubik', sans-serif;
	--font-family-accent: 'Montserrat', sans-serif;

	/* Sizes */

	--block-width-wrapper: 1200px;
	--block-width-content: 900px;
	--links-padding: .8rem;
	--radius: 1.5rem;
}

@media (max-width: 1200px) {
	:root {
		--block-width-wrapper: 90%;
	}
}
