:root {

	/* ----- Colors ----- */

	--color-bg-primary: #2F2F2F;
	--color-accent-primary: #5E3281;
	--color-text-primary: #D2D2D2;

	/*
		Interesting variants for #5E3281 (https://mycolor.space/?hex=%235E3281&sub=1)
		#00c9b0
		#005b5f
		#8b0073
		#307ea6
		#e15871
	*/

	/* ----- Fonts----- */

	--font-size-primary: 16px;
	--font-family-general: 'Bellota Text', sans-serif;
	--font-family-semiaccent: 'Rubik', sans-serif;
	--font-family-accent: 'Montserrat', sans-serif;

	/* ----- Sizes ----- */

	--block-width-wrapper: 1200px;

}